body{
    
    background-color: black;
}

.jumbotron {
    background-color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
}

.col-md-6 {
    font-size: medium;
    color: white;
}

form {
    padding: 5px;
    border: 3px solid lightgray;
}

form textarea {
    resize: none;
}

.formLabel {
    color: goldenrod;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.formDropDown {
    color: black;
}

footer {
    color: white;
    text-align: center;
}